body{
    background-color: rgb(243, 223, 255);
}

h1 {
    font-weight: bolder;
    font-size: 50px;
}

h2 {
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
}

p {
    font-family: Helvetica;
}

ul{
    list-style-type: square;
} 
.difcolor{
    color: rgb(255, 41, 77); 
} 

img{
    width: 300px; 
    border: 5px solid #4f4cf7; 
} 

.step4{
    color: green;
}

